$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @fontfaceurl'https://www.dafont.com/staxblox.font'

@font-face {
  font-family: 'pixelfont';
  src: url('./pixelfont.ttf');
}

.hidden{
  display: none;
}

body {
margin:0px auto;
font-family: 'pixelfont';
}

p{
  text-color: white;
}

.centergame {
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  }

body {
 background-image:url("https://i.imgur.com/pPjrKHN.gif");
  }

h2 {
text-align: center;
font-size: 50px;
color:red;
}

p {
font-size: 30px;
}

.tic {
padding: 45px !important;
font-size: 25px;
margin:10px auto;
text-align: center;
}

//.tic:hover {
  //background-color: ;
  //opacity: ;
  //filter: alpha (opacity=70);
//}
.border {
border: 3px solid #000;
margin: 20px;
padding: 20px;
}

input[type="submit"]:hover {
  background-color: black;
}

#gameboard {
display: none;
}

#start {
  display: none;
}
